<div id="dashboardModal" class="modal modal-styled fade">

  <div class="modal-dialog">

    <div class="modal-content">
      
    </div> <!-- /.modal-content -->

  </div><!-- /.modal-dialog -->

</div><!-- /.modal -->
