<div id="sensorModal" class="modal modal-styled fade">

  <div class="modal-dialog">

    <div class="modal-content">
      <%= render 'sensors/form', sensor: @sensor%>
    </div> <!-- /.modal-content -->

  </div><!-- /.modal-dialog -->

</div><!-- /.modal -->
