<div id="user-readings">
  <p id="notice"><%= notice %></p>
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title"> Latest Readings</h4>
          </div>
          <div class="card-body">
            <%= render partial: 'index_row', collection: @readings, as: :reading %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
