<div id="user-readings">
  <p id="notice"><%= notice %></p>
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-md-9">
                <h4 class="card-title">Reading Log</h4>
              </div>
              <div class="col-md-3">
                <%= link_to(new_user_tank_reading_path(@user, @tank), class: "btn btn-primary btn-sm", remote: true) do %>
                  <i class="fa fa-plus"></i> Add New
                <% end %>              
              </div>
            </div>      
          </div>
          <div class="card-body" id="card-body-acordeon">
            <%@readings.each do |reading|%>
              <%= render partial: 'reading_acordion', locals: {reading: reading} %>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
