<%tab 'devices'%>
<div id="user-devices">
  <p id="notice"><%= notice %></p>
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Devices</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Tank</th>
                    <th>Post Url</th>
                    <th>Status</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody id="user-devices-table-tbody">
                  <%= render partial: 'device_control_row', collection: @devices, as: :device %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

<%= render 'device_modal'%>