<%= form_for(@tank, url: user_tank_path(@user, @tank), remote: true) do |form| %> 
<div id="user-readings">
  <p id="notice"><%= notice %></p>
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title"> Connected Sensors</h4>
          </div>
          <div class="card-body">
          <div class="form-group">
              <%= form.label :temp_sensor_id, "Temperature Parameter" %>
              <%= form.collection_select(:temp_sensor_id, @tank.sensors, :id, :name, {:include_blank => true}, {:class => 'form-control'})%>
          </div>             
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">Update</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%end%>
