$('#user_temporary_pin_token').html("<p><strong>User Pin Token:</strong> <%=@user&.temporary_pin_token%></p>");
$('#user_temporary_pin_token_expiration_date').html("<p><strong>Expires:</strong> <%=@user&.temporary_pin_token_expiration_date%></p>");