<div id="tankModal" class="modal modal-styled fade">

  <div class="modal-dialog">

    <div class="modal-content">
      <%= render 'tanks/form', tank: @user.tanks.new%>
    </div> <!-- /.modal-content -->

  </div><!-- /.modal-dialog -->

</div><!-- /.modal -->
