<%tab "tanks"%>

<div id="tank_section_tanks">
  <%= render partial: 'pages/tank', collection: @tanks, as: :tank %>
</div>

<div class="col-md-4">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Add a Tank</h5>
      <%=link_to(new_user_tank_path(@user), remote: true, class: "btn btn-success") do %>
      <i class="nc-icon nc-simple-add"></i>
      <%end%>
    </div>
  </div>
</div>

<%= render 'tank_modal'%>
