<div id="readingModal" class="modal modal-styled fade">

  <div class="modal-dialog">

    <div class="modal-content">
      <%= render 'readings/form', reading: @reading%>
    </div> <!-- /.modal-content -->

  </div><!-- /.modal-dialog -->

</div><!-- /.modal -->
