<div id="user-sensors-table">
  <p id="notice"><%= notice %></p>
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title"> Sensors </h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <tr>
                    <th>Name</th>
                    <th>Goal Value</th>
                    <th>Tank</th>
                    <th>Date</th>
                    <th>Graph</th>
                    <th><%= link_to 'New sensor', new_user_tank_sensor_path(@user, @tank), class: "btn btn-primary btn-sm", remote: true %></th>
                  </tr>
                </thead>
                <tbody id="user-sensors-table-tbody">
                  <%= render partial: 'index_row', collection: @sensors, as: :sensor %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
