<div id="user-sensors">
  <p id="notice"><%= notice %></p>

  <h3>Sensors</h3>

  <table id="user-sensors-table" class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Goal Value</th>
        <th>Tank</th>
        <th>Date</th>
        <th><%= link_to 'New sensor', new_user_sensor_path, remote: true %></th>
      </tr>
    </thead>

    <tbody>
      <%= render partial: 'index_row', collection: @sensors, as: :sensor %>
    </tbody>
  </table>

  <br>
</div>
